.header__menu {
  display: none;
}

@media screen and (max-width: 900px) {
  .header__menu {
    width: 24px;
    height: 21px;
    display: block;
    border: none;
    padding: 0;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    background-image: url(../../../images/context-menu.svg);
    background-size: 24px 3px;
    background-position: center;
    background-color: initial;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 30px;
  }    
}

.header__menu:hover {
  opacity: 80%;
  transition: 1s ease-out; 
}