@media screen and (max-width: 900px) {    
.header__close {
    background-image: url(../../../images/popup-close.svg);
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    left: calc(100% + 8px);
    top: -40px;
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor:pointer;  
  }
}

.header__close:hover {
    opacity: 80%;
    transition: 1s ease-out; 
  }