.popup__close {
  background-image: url(../../../images/popup-close.svg);
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  position: absolute;
  left: calc(100% + 8px);
  top: -40px;
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor:pointer;
}

.popup__close:hover {
  opacity: 60%;
  transition: 1s ease-out; 
}

@media screen and (max-width: 900px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    left: calc(100% - 20px);
  }  
}