.profile__title {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  max-width: 294px;
  min-width: 294px;
  margin: 0;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .profile__title {
    font-size: 27px;
    line-height: 32.68px;
    max-width: 190px;
    min-width: 190px;
    padding-bottom: 0;
    margin-left: 20px;
  }  
}